<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container"> 

<header class="mb-4">   
<h1>Alexander Fiodorov</h1>
<ul class="nav">
    <li class="nav-item"><a class="active" href="/home/">Home</a></li>
    <li class="nav-item"><a href="/about/">About</a></li>
    <li class="nav-item"><a href="/work/">Work</a></li>
    <li class="nav-item"><a href="/contact/">Contact</a></li>
</ul>            
</header>

<main>

<main>
    <h2>Resume</h2>
    <hr>
    <h3>Education</h3>
    <p>
        <b>University of Memphis</b><br>
        Bachelor of Science - Computer Science<br>
        August 2021 - May 2025<br>
        GPA: 3.25<br>
    </p>
    <hr>
	
    <h3>Work Experience</h3>
        <b>IT Technician</b><br>
        Memphis, TN<br>
        July 2019 - August 2021<br>
        <p>Managed and maintained mission-critical Windows 10, Mac OS and Linux workstations in a small business environment.</p>
        <p>Deployed software engineering team applications via scripting.</p>
        <p>Communicated development goals and workflow progress with internal team.</p>
        <p>Troubleshooted and diagnosed regular software/hardware issues - imaged systems, managed weekly backups, replaced hard drives, installed graphics cards, etc.</p>

    <hr>
    <h3>Skills</h3>
	<p><b>Technical:</b> Python (Django), Ruby (Rails, RSpec), HTML5, CSS, JavaScript (NodeJS), SQL, Git</p>
    <p><b>Additional:</b>  Attention to Detail, Flexibility, Problem Solving</p>
</main>

<footer class="mt-4">
<p class="text-center"> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
</body>
</html>