{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

<header class="mb-4">   
<h1>Alexander Fiodorov</h1>
<ul class="nav">
  <li class="nav-item me-3"><a href="/home/">Home</a></li>
  <li class="nav-item me-3"><a href="/about/">About</a></li>
  <li class="nav-item me-3"><a href="/work/">Work</a></li>
  <li class="nav-item me-3"><a href="/contact/">Contact</a></li>
</ul>           
</header>

<main>
  <h2>Contact</h2>
  <form action="action_page.php" class="mb-4">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name.." class="form-control">
    </div>
  
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" id="email" name="email" placeholder="Your email.." class="form-control">
    </div>
  
    <div class="form-group">
      <label for="subject">Body</label>
      <textarea id="subject" name="subject" placeholder="Write something.." class="form-control" style="height:200px"></textarea>
    </div>
  
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</main>

<footer class="mt-4">
<p class="text-center"> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
