{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container"> 
    
<header class="mb-4">   
<h1>Alexander Fiodorov</h1>
<ul class="nav">
    <li class="nav-item me-3"><a href="/home/">Home</a></li>
    <li class="nav-item me-3"><a href="/about/">About</a></li>
    <li class="nav-item me-3"><a href="/work/">Work</a></li>
    <li class="nav-item me-3"><a href="/contact/">Contact</a></li>
</ul>      
</header>

<main>
    <h2>Home</h2>
    <p class="mb-4">Software engineer with a proven ability to adapt in collaborative environments while staying focused on achieving high-quality results under strict deadlines. Eager to expand my learning and build upon my developer skills.</p>
    <img src="{% static 'alex.jpg' %}" class="img-fluid" alt="Picture of Alex">
</main>

<footer class="mt-4">
<p class="text-center"> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
