{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Work</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container"> 
  
<header class="mb-4">   
<h1>Alexander Fiodorov</h1>
<ul class="nav">
  <li class="nav-item me-3"><a href="/home/">Home</a></li>
  <li class="nav-item me-3"><a href="/about/">About</a></li>
  <li class="nav-item me-3"><a href="/work/">Work</a></li>
  <li class="nav-item"><a href="/contact/">Contact</a></li>
</ul>            
</header>

<main>
  <h2>Work</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'munch.png' %}" class="card-img-top" alt="Munch">
          <h3 class="card-title">Munch</h3>
          <p class="card-text">Rails-powered recipe blogging platform</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <img src="{% static '7zArchiver.png' %}" class="card-img-top" alt="7zArchiver">
          <h3 class="card-title">7zArchiver</h3>
          <p class="card-text">Open source GUI 7z file archiver written in Python</p>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="mt-4">
<p class="text-center"> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
